@import "tailwindcss";
:root {
  -webkit-user-select: none;
  user-select: none;
  font-family: "Bricolage Grotesque", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom left, #0f172a, #0f0c13, #0f172a);
  background-attachment: fixed;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}
